<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>happy</title>
    <style>
        body{
            background-image: url(https://media.tenor.com/HBbPe-f8Q8UAAAAj/tkthao219-bubududu.gif);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            
        }
        h1{
            font-size: 100px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <center>
   <h1><%= name %></h1>
   <h1><%= msg %></h1>
   </center>
</body>
</html>